.poppinsFont{
    font-family: "Poppins";
}
.dm-sansFont{
    font-family: "DM Sans";
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
body{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 25px;
}
body.dark{
    background-color: #001618;
    color:#fffffff1;
}
body.dark main>div{
    background-color: #001618;
    color:#FFFFFF;
}
header{
    background-color: #00353B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    width: 100%;
}
body.dark .header{
    background-color: #001618;
    color:#FFFFFF;
}
.header>div{
    width: 100%;
    padding-left: 29.7px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 34px;
    gap: 20px;
}
.header-block2{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 40%;
    gap: 6%;
}
.search{
    display:flex;
    align-items:center;
    gap: 13%;
}
.shopping_cart{
    display:flex;
    align-items:center;
    gap: 30%;
    margin-left: 20px;
}
.text-a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 2em;
}
.text-search{
    color:#FFFFFF;
    line-height: 1.5em;
    font-size: 1.5em;
}
.text-shopping-cart{
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 2em;
}
.text-sign{
    color:black;
    line-height: 1.5em;
    font-size: 2em;
}
.block-sign{
    margin-left: 33px;
    padding: 0.5px 11px;
    border: 0.5px solid #FFFFFF;
    border-radius: 9px;
    background-color: #FFFFFF;
    width: 170px;
}
.header-nav{
    display:flex;
    gap: 8.3%;
    flex-wrap: wrap;
}
.header-block1{
    width: 90%;
}

.block-trending{
    width: 100%;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 30px;
}
.block-trending1{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 61px;
}
.block-trending2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 42%;
    gap: 3px;
}
.text-trending1{
    font-size: 0.875em;
    color:#1F2937;
}
.text-trending2{
    font-size: 3em;
    color:#1F2937;
}
body.dark .text-trending2{
    color:#FFFFFF;
}
.text-trending3{
    text-align: center;
    font-size: 1.125em;
    color: #4B5563;
    padding-top: 21.5px;
    line-height: 1.5em;
}
body.dark .text-trending3{
    color:#FFFFFF;
}
.img-trending{
    display:flex;
    justify-content: space-between;
    width: 98.8%;
    flex-wrap: wrap;
    gap: 25px;
}
.img-pc{
    display: flex;
    justify-content: space-between;
    align-items:start;
}
.imgpcc{
    content: url("image/pc.svg");
    width: 100%;
}
.imgpcc2{
    content: url("image/pc2.svg");
    width: 100%;
}
.imgpcc3{
    content: url("image/pc3.svg");
    width: 100%;
}
.imgpcc4{
    content: url("image/pc4.png");
    width: 100%;
}
.imgpcc5{
    content: url("image/pc5.png");
    width: 100%;
}
.imgpcc6{
    content: url("image/pc6.png");
    width: 100%;
}
.imgpcc7{
    content: url("image/pc7.png");
    width: 100%;
}
.imgpcc8{
    content: url("image/pc8.png");
    width: 100%;
}
.imgpcc9{
    content: url("image/pc9.png");
    width: 100%;
}
.text-img-pc{
    padding-top: 32px;
    position: absolute;
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: space-between;
    height: 435px;
}
.text-img-pc1{
    color:#1F2937;
    font-size: 0.875em;
}
.text-img-pc2{
    color:#FFFFFF;
    font-size: 1.5em;
    line-height: 1.46em;
}
.text-img-pc3{
    color:#FFFFFF;
    font-size: 1.125em;
}
.button-img-pc{
    padding: 5px 19.4px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
    width: 21.5%;
}
.text-block-pc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text-img-pc4{
    color:#FFFFFF;
    font-size: 1em;
}
.button-img-pc1{
    padding: 9px 44px;
    border: 0.5px solid #22A45A;
    border-radius: 6px;
    background-color: #22A45A;
    width: 34%;
}
.text-trending{
    padding: 5px 10px;
    border: 0.5px solid #FCD8CA;
    border-radius: 6px;
    background-color: #FCD8CA;
}


.footer{
    background-color:#00353B;
    width: 100%;
    display: flex;
    justify-content: center;
}
body.dark .footer{
    background-color:#001618;
}
.block-footer{
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #FFFFFF;
}
.block-footer1{
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.block-footer2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 89px;
}
.pole{
    width: 230px;
    padding: 13px 84px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.button-sub{
    width: 31%;
    padding: 13px 19px;
    border: 0.5px solid #22A45A;
    border-radius: 6px;
    background-color: #22A45A;
}
.button-pole{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.block-footer3{
    display: flex;
    gap: 140px;
    padding-right: 129px;
    flex-wrap: wrap;
}
.block-footer4{
    display: flex;
    flex-direction:column;
    gap: 28px;
}
.block-footer5{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.block-contact{
    padding-top: 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.block-contact1{
    display: flex;
    gap: 21px;
}
.img-contact{
    display: flex;
    gap: 10px;
}

@media (max-width: 1280px) {
    .header>div{
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .header-nav{
        justify-content: space-around;
    }
.block-footer1{
    justify-content: center;
    flex-wrap: wrap;
}
}
@media (max-width: 768px) {
.block-footer3{
    gap: 40px;
    padding-right: 0px;
}
.header-nav {
    display: none;
  }
  .header-block2{
    display: none;
  }
  .burger-menu {
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  
  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }
  
  .header-block1 {
    position: fixed;
    top: 50px;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    z-index: 1;
  }
  
  .header-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .header-nav a{
    margin: 10px 0;
    text-decoration: none;
    color: #333;
  }
  .search p{
    color: #333;
  }
  #se{
    filter: invert(1);
  }
  #shop{
    filter: invert(1);
  }
  .shopping_cart{
    margin: 0;
    gap: 13%;
  }
  .shopping_cart p{
    color: #333;
  }
  .burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger-menu.open span:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .header-block1.open {
    right: 0;
  }  
  
  body.dark .burger-menu span{
    background-color: #fff;
  }

  .burger {
    display: block; 
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
.img-trending{
    justify-content: center;
}
.header-block2{
    display: none;
}
.block-sign{
    width: 110px;
}
.header>div{
    gap: 20px;
    flex-wrap: wrap;
}
.pole{
    width: 100px;
}
.block-trending2{
width: 82%;
}
}
@media (max-width: 320px) {
    .header-block1{
        display: none;
    }
    .header-block2{
        display: none;
    }
}