.poppinsFont{
    font-family: "Poppins";
}
.dm-sansFont{
    font-family: "DM Sans";
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }
.boby{
    background: #FFFFFF;
    margin: 0 auto;
    width: 100%;
}
.header{
    background-color: #00353B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.header>div{
    width: 63.5%;
    padding-left: 29.7px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 34px;
    gap: 11%;
}
.header-block2{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 40%;
    gap: 6%;
}
.search{
    display:flex;
    align-items:center;
    gap: 13%;
}
.shopping_cart{
    display:flex;
    align-items:center;
    gap: 30%;
    margin-left: 20px;
}
.text-a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 2em;
}
.text-search{
    color:#FFFFFF;
    line-height: 1.5em;
    font-size: 1.5em;
}
.text-shopping-cart{
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 2em;
}
.text-sign{
    color:black;
    line-height: 1.5em;
    font-size: 2em;
}
.block-sign{
    margin-left: 33px;
    padding: 0.5px 11px;
    border: 0.5px solid #FFFFFF;
    border-radius: 9px;
    background-color: #FFFFFF;
}
.header-nav{
    display:flex;
    gap: 8.3%;
}
.header-block1{
    width: 62%;
}
main>div{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #00353B;
}
.main-block{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 90.5%;
    background-color:#00353B;
    gap: 5%;
    margin-bottom: 60px;
}
.main-block1{
    display:flex;
    flex-direction: column;  
    justify-content: center;
    align-items: start;
    width: 60%;
    gap: 30px;
}
.main-block2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-text1{
    color:#FFFFFF;
    font-size: 3.5em;
    line-height: 1.2em;
    padding-top: 8px;
}
.main-text2{
    color:#FFFFFF;
    font-size: 1.125em;
    line-height: 1.688em;
}
.main-block3{
    display:flex;
    align-items:center;
    gap: 10%;
    width: 50%;
    margin-top: 30px;
}
.main-button1{
    padding: 12px 53px;
    border: 0.5px solid #22A45A;
    border-radius: 9px;
    background-color: #22A45A;
}
.button-text1{
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 1em;
}
.main-button2{
    display:flex;
    gap: 7px;
}
.main-block4{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    gap: 22px;
}
.main-star{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.star{
    display: flex;
    gap: 11px;
}
.star-text{
    color:#FFFFFF;
    line-height: 1.5em;
    font-size: 1em;
}
.main-best{
    background-color:#00353B;
    display: flex;
    justify-content: center;
    align-items:start;
    padding-bottom: 400px;
}
.text-main-best{
    color:#FFFFFF;
    font-size: 1.125em;
}
.main-premium{
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items:start;
}
.main-premium1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 54.19%;
    background-color:#FCD8CA;
    padding: 97px 248px;
    border: 0.5px solid #FCD8CA;
    border-radius: 21px;
    margin-top: -230px;
    gap: 25px;
}
.text-main-premium1{
    color:#1F2937;
    font-size: 3em;
}
.text-main-premium2{
    color:#000000;
    line-height: 1.5em;
    font-size: 1.125em;
    text-align: center;
}
.text-main-premium3{
    color:#FFFFFF;
    font-size: 1em;
}
.main-button-premium{
    background-color:#1F2937;
    padding: 15px 43.9px;
    border: 0.5px solid #1F2937;
    border-radius: 10px;
    margin-top: 8px;
}
.block-premium{
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.block-premium1{
    display:flex;
    width: 83.8%;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.text-block-premium1{
    color:#1F2937;
    font-size: 3em;
    line-height: 1.2em;
}
.text-block-premium2{
    color:#4B5563;
    font-size: 1.125em;
    line-height: 1.49em;
}
.text-block-premium3{
    color:#FFFFFF;
    font-size: 1em;
}
.text-block-premium4{
    color:#111827;
    font-size: 1em;
}
.block-premium2{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.button-premium{
    display:flex;
    gap: 40px;
}
.button-premium1{
    padding: 13.5px 47px;
    border: 0.5px solid #1F2937;
    border-radius: 8px;
    background-color:#1F2937;
}
.button-premium2{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 13.5px;
}
