.poppinsFont{
    font-family: "Poppins";
}
.dm-sansFont{
    font-family: "DM Sans";
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
body{
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
}
body.dark{
    background-color: #001618;
    color:#fffffff1;
}
.header{
    background-color: #00353B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
body.dark .header{
    background-color: #001618;
    color:#FFFFFF;
}
.header>div{
    width: 63.5%;
    padding-left: 29.7px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 34px;
    gap: 11%;
}
.header-block2{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 40%;
    gap: 6%;
}
.search{
    display:flex;
    align-items:center;
    gap: 13%;
}
.shopping_cart{
    display:flex;
    align-items:center;
    gap: 30%;
    margin-left: 20px;
}
.text-a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 2em;
}
.text-search{
    color:#FFFFFF;
    line-height: 1.5em;
    font-size: 1.5em;
}
.text-shopping-cart{
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 2em;
}
.text-sign{
    color:black;
    line-height: 1.5em;
    font-size: 2em;
}
.block-sign{
    margin-left: 33px;
    padding: 0.5px 11px;
    border: 0.5px solid #FFFFFF;
    border-radius: 9px;
    background-color: #FFFFFF;
}
.header-nav{
    display:flex;
    gap: 8.3%;
}
.header-block1{
    width: 62%;
}
main>div{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #00353B;
}
body.dark main>div{
    background-color: #001618;
    color:#FFFFFF;
}
.main-block{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 90.5%;
    background-color:#00353B;
    gap: 5%;
    margin-bottom: 60px;
}
body.dark .main-block{
    background-color: #001618;
    color:#FFFFFF;
}
.main-block1{
    display:flex;
    flex-direction: column;  
    justify-content: center;
    align-items: start;
    width: 60%;
    gap: 30px;
}
.main-block2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-text1{
    color:#FFFFFF;
    font-size: 3.5em;
    line-height: 1.2em;
    padding-top: 8px;
}
.main-text2{
    color:#FFFFFF;
    font-size: 1.125em;
    line-height: 1.688em;
}
.main-block3{
    display:flex;
    align-items:center;
    gap: 10%;
    width: 50%;
    margin-top: 30px;
}
.main-button1{
    padding: 12px 53px;
    border: 0.5px solid #22A45A;
    border-radius: 9px;
    background-color: #22A45A;
}
.button-text1{
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 1em;
}
.main-button2{
    display:flex;
    gap: 7px;
}
.main-block4{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    gap: 22px;
}
.main-star{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.star{
    display: flex;
    gap: 11px;
}
.star-text{
    color:#FFFFFF;
    line-height: 1.5em;
    font-size: 1em;
}
.main-best{
    background-color:#00353B;
    display: flex;
    justify-content: center;
    align-items:start;
    padding-bottom: 400px;
}
.text-main-best{
    color:#FFFFFF;
    font-size: 1.125em;
}
.main-premium{
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items:start;
}
.main-premium1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 54.19%;
    background-color:#FCD8CA;
    padding: 97px 248px;
    border: 0.5px solid #FCD8CA;
    border-radius: 21px;
    margin-top: -230px;
    gap: 25px;
}
.text-main-premium1{
    color:#1F2937;
    font-size: 3em;
}
.text-main-premium2{
    color:#000000;
    line-height: 1.5em;
    font-size: 1.125em;
    text-align: center;
}
.text-main-premium3{
    color:#FFFFFF;
    font-size: 1em;
}
.main-button-premium{
    background-color:#1F2937;
    padding: 15px 43.9px;
    border: 0.5px solid #1F2937;
    border-radius: 10px;
    margin-top: 8px;
}
.block-premium{
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.block-premium1{
    display:flex;
    width: 83.8%;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.text-block-premium1{
    color:#1F2937;
    font-size: 3em;
    line-height: 1.2em;
}
body.dark .text-block-premium1{
    color:#FFFFFF;
}
.text-block-premium2{
    color:#4B5563;
    font-size: 1.125em;
    line-height: 1.49em;
}
body.dark .text-block-premium2{
    color:#FFFFFF;
}
.text-block-premium3{
    color:#FFFFFF;
    font-size: 1em;
}
.text-block-premium4{
    color:#111827;
    font-size: 1em;
}
.block-premium2{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.button-premium{
    display:flex;
    gap: 40px;
}
.button-premium1{
    padding: 13.5px 47px;
    border: 0.5px solid #1F2937;
    border-radius: 8px;
    background-color:#1F2937;
}
.button-premium2{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 13.5px;
}
.block-perfect{
    background-color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.block-perfect1{
    display:flex;
    width: 88.9%;
    justify-content: space-between;
    align-items: center;
    margin-top: 159px;
}
.block-perfect2{
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.block-trending{
    width: 100%;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 129px;
}
.block-trending1{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 61px;
}
.block-trending2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 42%;
    gap: 3px;
}
.text-trending1{
    font-size: 0.875em;
    color:#1F2937;
}
.text-trending2{
    font-size: 3em;
    color:#1F2937;
}
body.dark .text-trending2{
    color:#FFFFFF;
}
.text-trending3{
    text-align: center;
    font-size: 1.125em;
    color: #4B5563;
    padding-top: 21.5px;
    line-height: 1.5em;
}
body.dark .text-trending3{
    color:#FFFFFF;
}
.img-trending{
    display:flex;
    justify-content: space-between;
    width: 98.8%;
}
.img-pc{
    display: flex;
    justify-content: space-between;
    align-items:start;
}
.text-img-pc{
    padding-top: 32px;
    position: absolute;
    padding-left: 34px;
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: space-between;
    height: 435px;
}
.text-img-pc1{
    color:#1F2937;
    font-size: 0.875em;
}
.text-img-pc2{
    color:#FFFFFF;
    font-size: 1.5em;
    line-height: 1.46em;
}
.text-img-pc3{
    color:#FFFFFF;
    font-size: 1.125em;
}
.button-img-pc{
    padding: 5px 19.4px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
    width: 21.5%;
}
.text-block-pc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text-img-pc4{
    color:#FFFFFF;
    font-size: 1em;
}
.button-img-pc1{
    padding: 9px 44px;
    border: 0.5px solid #22A45A;
    border-radius: 6px;
    background-color: #22A45A;
    width: 34%;
}
.text-trending{
    padding: 5px 10px;
    border: 0.5px solid #FCD8CA;
    border-radius: 6px;
    background-color: #FCD8CA;
}
.block-join{
    margin-top: 120px;
    width: 100%;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-join1{
    width: 89%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.block-join2{
    display: flex;
}
.block-join3{
    background-color:#FCD8CA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.text-join1{
    font-size: 0.875em;
    color:#1F2937;
}
.text-join2{
    font-size: 3em;
    color:#1F2937;
    line-height: 1.2em;
    
}
.text-join3{
    font-size: 1.125em;
    color:#374151;
    line-height: 1.5em;
}
.text-join4{
    font-size: 1em;
    color:#FFFFFF;
    text-align: center;
}
.block-text-join{
    width: 78.6%;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    gap: 70px;
    padding-top: 64px;
}
.block-text-join1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.button-text-join1{
    width: 7.7%;
    padding: 5px 15px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.button-text-join2{
    width: 13.08%;
    padding: 13px 45px;
    border: 0.5px solid #1F2937;
    border-radius: 6px;
    background-color: #1F2937;
}
.block-browse{
    display: flex;
    justify-content: space-between;
    align-self: start;
    margin-top: 80px;
    gap: 63px;
}
.text-browse1{
    color:#1F2937;
    font-size: 1.5em;
}
body.dark .text-browse1{
    color:#FFFFFF;
}
.text-browse2{
    color: #4B5563;
    font-size: 1em;
    line-height: 1.5em;
}
body.dark .text-browse2{
    color:#FFFFFF;
}
.block-browse1{
    padding-top: 25px;
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.block-benefits{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#FFFFFF;
    flex-direction: column;
    padding-bottom: 520px;
}
.block-benefits1{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 190px;
    gap: 10px;
}
.block-benefits2{
    display:flex;
    justify-content: center;
    align-items:center;
}
.benefits{
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 80px;
}
.text-benefits1{
    font-size: 3em;
    color:#1F2937;
    line-height: 1.2em;
    text-align: center;
}
body.dark .text-benefits1{
    color:#FFFFFF;
}
.text-benefits2{
    font-size: 1.12em;
    color:#374151;
    line-height: 1.5em;
    text-align: center;
    padding-top: 20px;
}
body.dark .text-benefits2{
    color:#FFFFFF;
}
.block-benefits3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 55px;
}
.block-benefits4{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}
.block-benefits5{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}
.block-benefits6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 93px;
}
.button-benefits{
    width: 10%;
    padding: 13px 23px;
    border: 0.5px solid #1F2937;
    border-radius: 6px;
    background-color: #1F2937;
}
.block-testimonials{
    display:flex;
    justify-content: center;
    align-items:center;
}
.block-testimonials1{
    border: 0.5px solid #FCD8CA;
    border-radius: 16px;
    background-color:#FCD8CA;
    width: 88.6%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: -390px;
    gap: 77px;
    padding-bottom: 90px;
}
body.dark .block-testimonials1{
    border: 0.5px solid #83716a;
    background-color:#83716a;
}
.block-testimonials2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 100px;
    gap: 14px;
    width: 42%;
}
.block-testimonials3{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.block-testimonials4{ 
    border: 0.5px solid #FFFFFF;
    border-radius: 16px;
    background-color: #FFFFFF;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 328px;
    padding-left: 40px;
    gap: 60px;
}
body.dark .block-testimonials4{
    border: 0.5px solid #696969;
    background-color: #696969;
}
.text-testimonials1{
    color:#111827;
    font-size: 1em;
}
body.dark .text-testimonials1{
    color:#ffffff;
}
.text-testimonials2{
    color:#6B7280;
    font-size:1em;
}
body.dark .text-testimonials2{
    color:#ffffff;
}
.block-text-testimonials{
    display:flex;
    flex-direction: column;
}
.block-testimonials6{
    display:flex;
    gap: 20px;
}
.block-blog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 132px;
}
.block-blog1{
    width: 89%;
    display:flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;
    gap: 80px
}
.block-blog2{
    display: flex;
    flex-direction: column;
}
.block-latest{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.text-block-blog1{
    font-size: 3em;
    color: #FFFFFF;
}
.text-block-blog2{
    font-size: 1em;
    color:#1F2937;
}
.block-blog3{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 40px;
}
.block-blog4{
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-top: 20px;
    gap: 45px;
    padding-bottom: 18px;
}
body.dark .block-blog4{
    background-color:#696969;
}
.button-block-blog1{
    width: 7.7%;
    padding: 5px 15px;
    border: 0.5px solid #FCD8CA;
    border-radius: 6px;
    background-color: #FCD8CA;
}
.block-blog5{
    display:flex;
    flex-direction: column;
    gap: 6px;
}
.button-block-blog3{
    display:flex;
    gap: 14px;
    width: 20%;
    padding: 15px 15px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.button-block-blog2{
    width: 20%;
    padding: 5px 10px;
    border: 0.5px solid #AADEA8;
    border-radius: 6px;
    background-color: #AADEA8;
}
.block-start{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 78px;
}
.block-start1{
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 115px;
    gap: 25px;
}
.text-start1{
    font-size: 1.12em;
    color:#FFFFFF;
    line-height: 1.5em;
    text-align: center;
}
.button-block-start1{
    width: 32%;
    padding: 13px 23px;
    border: 0.5px solid #22A45A;
    border-radius: 6px;
    background-color: #22A45A;
}
.button-block-start2{
    width: 31%;
    padding: 13px 23px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.button-start{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}
.text-block-start2{
    font-size: 1em;
    color: #1F2937;
    text-align: center;
}
footer p{
    font-family: "DM Sans";
    color:#FFFFFF;
    font-size: 1em;
}
.footer{
    background-color:#00353B;
    width: 100%;
    display: flex;
    justify-content: center;
}
body.dark .footer{
    background-color:#001618;
}
.block-footer{
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.block-footer1{
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-footer2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 89px;
}
.pole{
    width: 230px;
    padding: 13px 84px;
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    background-color: #FFFFFF;
}
.button-sub{
    width: 31%;
    padding: 13px 19px;
    border: 0.5px solid #22A45A;
    border-radius: 6px;
    background-color: #22A45A;
}
.button-pole{
    display: flex;
    gap: 20px;
}
.block-footer3{
    display: flex;
    gap: 140px;
    padding-right: 129px;
}
.block-footer4{
    display: flex;
    flex-direction:column;
    gap: 28px;
}
.block-footer5{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.block-contact{
    padding-top: 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.block-contact1{
    display: flex;
    gap: 21px;
}
.img-contact{
    display: flex;
    gap: 10px;
}